.keyboard
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    width: 700px
    
.title
    margin: 20px
    font-size: 26px
    text-align: center

.textarea
    width: 700px
    height: 200px
    padding: 10px
    font-size: 20px
    user-select: none
    &:focus
        outline: none

.buttons-area
    height: 234px
    width: 700px
    margin-top: 10px
    padding: 5px
    display: flex
    flex-direction: column
    justify-content: space-between
    border: #000000 solid 1px
    border-radius: 2px
    background-color: $field_color_bg

.row
    display: flex
    justify-content: space-between

.button
    width: 40px
    height: 40px
    border-radius: 2px
    text-align: center
    cursor: pointer
    line-height: 40px
    background-color: $regular_buttons_color_bg
    color: #FFFFFF
    user-select: none
    transition: all 0.2s
    &-delete, &-tab, &-caps-lock, &-return, &-shift, &-space, &-option,
    &-command, &-control, &-fn
        background-color: $special_buttons_color_bg
        font-weight: bold
        font-size: 11px
    &-▲, &-◀, &-▼, &-►
        background-color: $arrow_buttons_color_bg
        font-size: 12px
    &-delete
        width: 90px
    &-tab
        width: 75px
    &-\\
        width: 55px
    &-caps-lock
        width: 100px
    &-return
        width: 80px
    &-shift
        width: 130px
        &_right
            width: 50px
    &-command
        width: 60px
    &-space
        width: 240px
    &:hover
        background-color: $hover_color_bg
    &:active
        background-color: $active_color_bg
        border-radius: 50px

.active
    background-color: $active_color_bg
    border-radius: 50px

.hidden 
    display: none

.footer
    margin-top: 10px
    font-size: 18px
    text-align: center