.keyboard
    margin: 0 auto
    width: 700px
    
.title
    text-align: center

.textarea
    width: 100%
    min-height: 200px

.buttons-area
    height: 230px
    padding: 5px
    display: flex
    flex-direction: column
    justify-content: space-between
    border: #000000 solid 1px
    border-radius: 2px

.row
    display: flex
    justify-content: space-between

.button
    width: 40px
    height: 40px
    border: #000000 solid 1px
    border-radius: 2px
    text-align: center
    vertical-align: middle
    cursor: pointer
    &__delete
        width: 90px
    &__tab
        width: 65px
    &__\\
        width: 65px
    &__caps-lock
        width: 80px
    &__return
        width: 100px
    &__shift
        width: 130px
        &_right
            width: 50px
    &__command
        width: 60px
    &__space
        width: 240px

.footer
    text-align: center